@import "tailwindcss";

input[type="email"],
input[type="password"],
input[type="text"] {
    @apply block w-full my-4 rounded-xl;
    @apply border p-2 border-gray-300 bg-gray-200;
}

button[type="submit"], .submit{
    @apply block w-full my-4 rounded-xl;
    @apply border p-2 border-gray-300 bg-gray-200;
    @apply border-0 bg-red-500;
}